body {
	background-color: white;
}

a {
	text-decoration: none;
}

/* Design of Page */

.design {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 45vw;
	aspect-ratio: 1 /1;
	z-index: -2;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

/* Main Image */

.mainImage {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 43vw;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	z-index: 0;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	transition: 0.5s;
}

.mainImage:hover {
	width: 42vw;
	z-index: -2;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

/* Github */

.Github {
	position: sticky;
	transform: translateX(20vw);
	margin: auto;
	width: 15vw;
	aspect-ratio: 1 /1;
	z-index: -1;
	border-radius: 50%;
	background-color: oldlace;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

.Github:hover {
	z-index: 2;
}

.Github:hover .gitImage {
	width: 14vw;
}

.Github:hover .GithubText {
	opacity: 1;
}

/* Github Image */

.gitImage {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 13vw;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	z-index: 0;
	transition: 0.5s;
}

.gitImage:hover {
	width: 14vw;
}

.gitImage:hover .GithubText {
	opacity: 1;
}

/* Github Text */

.GithubText {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	opacity: 0;
	color: black;
	font-weight: bolder;
	text-align: center;
	top: 100%;
	font-size: 2.5vw;
	position: sticky;
	text-shadow: 0px 0px 10px white;
	transition: 0.5s;
}

.GithubText:hover {
	opacity: 1;
}

/* Linkedin */

.Linkedin {
	position: fixed;
	transform: translateX(38vw) translateY(15vw);
	margin: auto;
	width: 10vw;
	aspect-ratio: 1 /1;
	z-index: -1;
	border-radius: 50%;
	background-color: oldlace;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

.Linkedin:hover {
	z-index: 2;
}

.Linkedin:hover .linkImage {
	width: 9vw;
}

/* Linkedin Image */

.linkImage {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 8vw;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	z-index: 0;
	transition: 0.5s;
}

.linkImage:hover {
	width: 9vw;
}

.linkImage:hover .Linkedin {
	z-index: 2;
}

/* Resume */

.Resume {
	position: sticky;
	transform: translateX(-28vw);
	margin: auto;
	width: 25vw;
	aspect-ratio: 1 /1;
	z-index: -1;
	border-radius: 50%;
	background-color: oldlace;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

.Resume:hover {
    z-index: 2;
}

.Resume:hover .resumeImage{
    width: 23vw;
}

/* Resume Image */

.resumeImage {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 22vw;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	z-index: 0;
	transition: 0.5s;
}

.resumeImage:hover {
    width: 23vw;
}

/* Media Queries */

/* @media (max-width: 600px) {
	.mainImage {
		width: 82vw;
	}
	.design {
		width: 85vw;
	}
	.Github {
		width: 25vw;
		transform: translateX(25vw) translateY(-10vw);
	}
	.AboutMe {
		width: 60vw;
		transform: translateX(-15vw) translateY(40vw);
	}
	.Linkedin {
		width: 20vw;
		transform: translateX(4vw) translateY(-90vw);
	}
}

@media (max-height: 600px) {
	.mainImage {
		width: 38vw;
	}
	.design {
		width: 40vw;
	}
	.Github {
		width: 13vw;
	}
	.AboutMe {
		width: 22vw;
		transform: translateX(-26vw);
	}
} */
