:root {
	--mobile: 0%;
	--mobileArrow: 0vw;
	--mobileText: 0%;
}

body {
	background-color: white;
}

a {
	text-decoration: none;
}

/* Design of Page */

.design {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: calc(45vw + var(--mobile));
	height: calc(45vw + var(--mobile));
	aspect-ratio: 1 /1;
	z-index: -2;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

/* About Arrow */

.AboutArrow {
	position: absolute;
	transform: translateX(45vw);
	margin: auto;
	width: calc(15vw + var(--mobile));
	aspect-ratio: 1 /1;
	z-index: 5;
}

.About-arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 100;
	margin: auto;
	height: 0vw;
	width: 0vw;
	border: calc(1vw + var(--mobileArrow)) solid;
	border-color: orange orange transparent transparent;
	transform: rotate(225deg);
}

.About-arrowText {
	font-family: Permanent Marker;
	z-index: 0;
	color: orange;
	position: absolute;
	top: 8vw;
	right: 1vw;
	font-size: calc(1.9vw + var(--mobileText));
	word-wrap: break-word;
	text-align: center;
	transform: translateX(5.5vw);
}

.aboutLine {
	position: sticky;
	width: calc(15vw + var(--mobile));
	z-index: -1;
	transform: translateX(-3vw) translateY(7.2vw);
	filter: brightness(0.9) invert(0.7) sepia(0.5) hue-rotate(1deg) saturate(250%);
}

/* Main Image */

.mainImage {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: calc(43vw + var(--mobile));
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	z-index: -2;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
	transition: 0.5s;
}

.mainImage:hover {
	width: calc(44vw + var(--mobile));
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

/* Github */

.Github {
	position: sticky;
	transform: translateX(20vw);
	margin: auto;
	width: calc(15vw + var(--mobile));
	aspect-ratio: 1 /1;
	z-index: -1;
	border-radius: 50%;
	background-color: oldlace;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.Github:hover {
	z-index: 2;
}

.Github:hover .gitImage {
	width: calc(14vw + var(--mobile));
}

/* Github Image */

.gitImage {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: calc(13vw + var(--mobile));
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	z-index: 0;
	transition: 0.5s;
}

.gitImage:hover {
	width: calc(14vw + var(--mobile));
}

/* Github Arrow */

.GitArrow {
	position: absolute;
	transform: translateX(36vw) translateY(-13vw);
	margin: auto;
	width: 0vw;
	aspect-ratio: 1 /1;
	z-index: 10;
}

.git-arrow {
	position: absolute;
	top: 100;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 0vw;
	width: 0vw;
	border: calc(1vw + var(--mobileArrow)) solid;
	border-color: black black transparent transparent;
	transform: rotate(90deg);
}

/* Linkedin */

.Linkedin {
	position: absolute;
	transform: translateX(38vw) translateY(15vw);
	margin: auto;
	width: calc(10vw + var(--mobile));
	aspect-ratio: 1 /1;
	z-index: -1;
	border-radius: 50%;
	background-color: oldlace;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.Linkedin:hover {
	z-index: 2;
}

.Linkedin:hover .linkImage {
	width: calc(9vw + var(--mobile));
}

/* Linkedin Image */

.linkImage {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: calc(8vw + var(--mobile));
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	z-index: 0;
	transition: 0.5s;
}

.linkImage:hover {
	width: calc(9vw + var(--mobile));
}

.linkImage:hover .Linkedin {
	z-index: 2;
}

/* Linked Arrow */

.LinkArrow {
	position: absolute;
	transform: translateX(39vw) translateY(26vw);
	margin: auto;
	width: 0vw;
	aspect-ratio: 1 /1;
	z-index: 10;
}

.Link-arrow {
	position: absolute;
	top: 100;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 0vw;
	width: 0vw;
	border: calc(1vw + var(--mobileArrow)) solid;
	border-color: #027fbd #027fbd transparent transparent;
	transform: rotate(346deg);
}

/* Resume */

.Resume {
	position: sticky;
	transform: translateX(-28vw);
	margin: auto;
	width: calc(25vw + var(--mobile));
	aspect-ratio: 1 /1;
	z-index: -1;
	border-radius: 50%;
	background-color: oldlace;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.Resume:hover {
	z-index: 2;
}

.Resume:hover .resumeImage {
	width: calc(23vw + var(--mobile));
}

/* Resume Image */

.resumeImage {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: calc(22vw + var(--mobile));
	aspect-ratio: 1 / 1;
	z-index: 0;
	transition: 0.5s;
}

.resumeImage:hover {
	width: calc(23vw + var(--mobile));
}

/* Resume Arrow */

.resumeArrow {
	position: absolute;
	transform: translateX(-13vw) translateY(-40vw);
	margin: auto;
	width: calc(15vw + var(--mobile));
	aspect-ratio: 1 /1;
	z-index: 5;
}

.Res-arrow {
	position: absolute;
	top: 100;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 0vw;
	width: 0vw;
	border: calc(1vw + var(--mobileArrow)) solid;
	border-color: green green transparent transparent;
	transform: rotate(135deg);
}

.Res-arrowText {
	font-family: Permanent Marker;
	z-index: 0;
	color: green;
	position: absolute;
	top: -1vw;
	right: 1vw;
	font-size: calc(1.9vw + var(--mobileText));
	word-wrap: break-word;
	text-align: center;
	transform: translateX(3vw);
}

.resLine {
	position: sticky;
	width: calc(15vw + var(--mobile));
	z-index: -1;
	transform: rotate(90deg) translateX(6vw) translateY(-4.1vw);
	filter: brightness(0.9) invert(0.7) sepia(0.5) hue-rotate(100deg)
		saturate(150%);
}

/* Media Queries */

@media (max-width: 600px) {
	
	/* Root Media */
	
	:root {
		--mobile: 12vw;
	}
	:root {
		--mobileArrow: 1vw;
	}
	:root {
		--mobileText: 1vw;
	}
	
	/* About Media */
	
	.AboutArrow {
		transform: translateX(42vw) translateY(-38vw);
	}
	.About-arrow {
		transform: rotate(170deg);
	}
	.aboutLine {
		transform: rotate(-25deg) translateX(-7vw) translateY(-6.5vw) scaleX(-1);
	}
	.About-arrowText {
		transform: translateX(-8vw) translateY(-25vw);
	}
	
	/* GitHub Media */
	
	.Github {
		transform: translateX(-10vw) translateY(-20vw);
	}
	.GitArrow {
		transform: translateX(6vw) translateY(-43vw);
	}
	
	/* Linkedin Media */
	
	.Linkedin {
		transform: translateX(35vw) translateY(20vw);
	}
	.LinkArrow {
		transform: translateX(55vw) translateY(26vw);
	}
	.Link-arrow {
		transform: rotate(195deg);
	}
	
	/* Resume Media */
	
	.Resume {
		transform: translateX(-28vw) translateY(10vw);
	}
	.resumeArrow {
		transform: translateX(6vw) translateY(-3vw) scaleY(-1) scaleX(-1);
	}
	.Res-arrow {
		transform: rotate(70deg);
	}
	.resLine {
		transform: rotate(60deg) translateX(8vw) translateY(1.5vw);
	}
	.Res-arrowText {
		transform: translateX(3.5vw) translateY(-5vw) scaleX(-1) scaleY(-1);
	}
}