:root {
  --mobile: 0%;
  --mobileArrow: 0vw;
  --mobileText: 0%;
  /* --box-shadow-color: 255, 255, 255; */
  --background-color: rgb(2, 6, 23);
}

body {
  background-color: var(--background-color);
  user-select: none;
  -webkit-user-select: none;
}

a {
  text-decoration: none;
}

/* Floating Button */
.floating-button {
  --position: min(7vw, 7vh);
  --size: max(4vw, 6vh);
  position: fixed;
  bottom: var(--position);
  right: var(--position);
  color: white;
  border-radius: 50px;
  text-align: center;
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
  display: flex;
  z-index: 5;
}

.floating-button:hover {
  color: gray;
}

.floating-text {
  --position: min(7vw, 7vh);
  --size: max(5vw, 6vh);
  position: fixed;
  bottom: var(--position);
  right: var(--position);
  color: white;
  border-radius: 50px;
  text-align: center;
  width: var(--size);
  height: var(--size);
  font-size: 1vw;
  display: sticky;
  z-index: 4;
  transform: translateY(6vw) translateX(-0.4vw);
  -webkit-text-stroke: 1px rgb (2, 6, 23);
}

/* Main */
.main-bubble {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: calc(45vw + var(--mobile));
  height: calc(45vw + var(--mobile));
  z-index: -2;
  border-radius: 50%;
  box-shadow: 0 4px 20px 0 rgba(var(--box-shadow-color), 0.2),
    0 4px 20px 0 rgba(var(--box-shadow-color), 0.2);
  transition: 0.5s;
}

.main-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: calc(43vw + var(--mobile));
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  z-index: -2;
  box-shadow: 0 0px 0px 0 rgba(var(--box-shadow-color), 0.5),
    0 0px 0px 0 rgba(var(--box-shadow-color), 0.19);
  transition: 0.5s;
}
.main-text {
  position: absolute;
  color: white;
  z-index: -1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  font-size: calc(1.4vw);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.name-text {
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 0;
  top: 70%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  font-size: calc(4vw);
  opacity: 1;
  pointer-events: none;
  transition: 0.5s;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.short-text {
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 0;
  top: 82%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  font-size: calc(2vw);
  opacity: 1;
  pointer-events: none;
  transition: 0.5s;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

.main-image:hover {
  opacity: 0.2;
}
.main-image:hover + .main-text {
  opacity: 1;
  transition: 0.5s;
}
.main-image:hover ~ .name-text {
  opacity: 0;
  transition: 0.5s;
}
.main-image:hover ~ .short-text {
  opacity: 0;
  transition: 0.5s;
}

/* About Arrow */
.about-arrow-container {
  position: absolute;
  margin: auto;
  width: calc(15vw + var(--mobile));
  aspect-ratio: 1 /1;
  z-index: 5;
  opacity: 1;
  top: 33%;
  left: 100%;
}

.about-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100;
  margin: auto;
  height: 0vw;
  width: 0vw;
  border: calc(1vw + var(--mobileArrow)) solid;
  border-color: orange orange transparent transparent;
  transform: rotate(225deg);
}

.about-arrow-text {
  font-family: Permanent Marker;
  z-index: 0;
  color: orange;
  position: absolute;
  top: 8vw;
  right: 1vw;
  font-size: calc(1.9vw + var(--mobileText));
  word-wrap: break-word;
  text-align: center;
  transform: translateX(7.2vw) translateY(3vw);
}

.about-line {
  position: sticky;
  width: calc(15vw + var(--mobile));
  z-index: -1;
  transform: translateX(-3vw) translateY(7.2vw);
  filter: brightness(0.9) invert(0.7) sepia(0.5) hue-rotate(1deg) saturate(250%);
}

/* Github */
.github {
  position: sticky;
  transform: translateX(20vw);
  margin: auto;
  width: calc(15vw + var(--mobile));
  aspect-ratio: 1 /1;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0 4px 20px 0 rgba(var(--box-shadow-color), 0.3),
    0 4px 20px 0 rgba(var(--box-shadow-color), 0.3);
}

.github:hover .git-image {
  transform: scale(1.07);
}

/* Github Image */
.git-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: calc(13vw + var(--mobile));
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  z-index: 0;
  transition: 0.5s;
  filter: invert();
}

/* Github Arrow */
.git-arrow-container {
  position: absolute;
  transform: translateX(36vw) translateY(-13vw);
  margin: auto;
  width: 0vw;
  aspect-ratio: 1 /1;
  z-index: 10;
}

.git-arrow {
  position: absolute;
  top: 100;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0vw;
  width: 0vw;
  border: calc(1vw + var(--mobileArrow)) solid;
  border-color: white white transparent transparent;
  transform: rotate(90deg);
}

/* AppStore */
.app-store {
  position: absolute;
  transform: translateX(-6vw) translateY(-14vw);
  margin: auto;
  width: calc(13vw + var(--mobile));
  aspect-ratio: 1 /1;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0 4px 20px 0 rgba(var(--box-shadow-color), 0.3),
    0 4px 20px 0 rgba(var(--box-shadow-color), 0.3);
}

.app-store:hover .app-store-image {
  transform: scale(1.07);
}

/* AppStore Image */
.app-store-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: calc(13vw + var(--mobile));
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  z-index: 0;
  transition: 0.5s;
}

/* App Arrow */
.app-arrow-container {
  position: absolute;
  transform: translateX(-8vw) translateY(-7vw);
  margin: auto;
  width: 0vw;
  aspect-ratio: 1 /1;
  z-index: 10;
}

.app-arrow {
  position: absolute;
  top: 100;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0vw;
  width: 0vw;
  border: calc(1vw + var(--mobileArrow)) solid;
  border-color: rgb(0, 143, 243) rgb(0, 143, 243) transparent transparent;
  transform: rotate(45deg);
}

/* Linkedin */
.linkedin {
  position: absolute;
  transform: translateX(38vw) translateY(15vw);
  margin: auto;
  width: calc(10vw + var(--mobile));
  aspect-ratio: 1 /1;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0 4px 20px 0 rgba(var(--box-shadow-color), 0.3),
    0 4px 20px 0 rgba(var(--box-shadow-color), 0.3);
}

.linkedin:hover .linkedin-image {
  transform: scale(1.07);
}

/* Linkedin Image */
.linkedin-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: calc(8vw + var(--mobile));
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  z-index: 0;
  transition: 0.5s;
}

/* Linked Arrow */
.linkedin-arrow-container {
  position: absolute;
  transform: translateX(39vw) translateY(26vw);
  margin: auto;
  width: 0vw;
  aspect-ratio: 1 /1;
  z-index: 10;
}

.linkedin-arrow {
  position: absolute;
  top: 100;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0vw;
  width: 0vw;
  border: calc(1vw + var(--mobileArrow)) solid;
  border-color: #027fbd #027fbd transparent transparent;
  transform: rotate(346deg);
}

/* Resume */
.resume {
  position: sticky;
  transform: translateX(-24vw) translateY(12vw);
  margin: auto;
  width: calc(18vw + var(--mobile));
  aspect-ratio: 1 /1;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0 4px 20px 0 rgba(var(--box-shadow-color), 0.3),
    0 4px 20px 0 rgba(var(--box-shadow-color), 0.3);
}

.resume:hover .resume-image {
  transform: scale(1.07);
}

/* Resume Image */
.resume-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: calc(16vw + var(--mobile));
  aspect-ratio: 1 / 1;
  z-index: 0;
  transition: 0.5s;
}

/* Resume Arrow */
.resume-arrow-container {
  position: absolute;
  transform: translateX(-15vw) translateY(-19vw);
  margin: auto;
  width: calc(15vw + var(--mobile));
  aspect-ratio: 1 /1;
  z-index: 5;
}

.resume-arrow {
  position: absolute;
  top: 100;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0vw;
  width: 0vw;
  border: calc(1vw + var(--mobileArrow)) solid;
  border-color: green green transparent transparent;
  transform: rotate(100deg);
}

.resume-arrow-text {
  font-family: Permanent Marker;
  z-index: 0;
  color: green;
  position: absolute;
  top: -1vw;
  right: 1vw;
  font-size: calc(1.9vw + var(--mobileText));
  word-wrap: break-word;
  text-align: center;
  transform: translateX(-6vw) translateY(3vw);
}

.resume-line {
  position: sticky;
  width: calc(12vw + var(--mobile));
  z-index: -1;
  transform: rotate(75deg) translateX(8vw) translateY(4.5vw) scaleX(-1);
  filter: brightness(0.9) invert(0.7) sepia(0.5) hue-rotate(100deg)
    saturate(150%);
}

.mobile,
.created-by,
.widget-title {
  display: none;
}

@media screen and (orientation: portrait) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }

  /* Main */
  .main-bubble {
    display: grid;
    grid-template-areas:
      "image image"
      "image image"
      "resume app-store"
      "linkedin github";
    gap: 2rem;
    max-width: 350px;
    width: 90%;
    position: unset;
    margin-inline: auto;
    margin-bottom: 6rem;
  }

  .image-container {
    grid-area: image;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
  }

  .main-image {
    width: 100%;
    position: unset;
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 0;
  }

  .main-image:hover {
    opacity: 0;
  }

  .main-text {
    position: unset;
    transform: none;
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .name-text {
    top: 63%;
    font-size: calc(3.5vh);
  }
  .short-text {
    top: 73%;
    font-size: calc(1.3vh);
  }

  /* About Arrow */
  .about-arrow-container {
    width: 100%;
    position: unset;
    transform: none;
    display: flex;
    flex-direction: column-reverse;
    aspect-ratio: unset;
    grid-row: 2/-1;
  }

  .about-arrow {
    position: unset;
    border-width: 0.8rem;
    transform: rotate(-45deg);
  }

  .about-arrow-text {
    position: unset;
    font-size: calc(3.97vw + var(--mobileText));
    transform: none;
    margin: 0;
  }

  .about-line,
  .resume-line,
  .resume-arrow-text {
    display: none;
  }

  .github {
    grid-area: github;
  }

  .linkedin {
    grid-area: linkedin;
  }

  .app-store {
    grid-area: app-store;
  }

  .resume {
    grid-area: resume;
  }

  .github,
  .git-image,
  .linkedin,
  .linkedin-image,
  .app-store,
  .app-store-image,
  .resume,
  .resume-image {
    position: unset;
    transform: none;
    width: 100%;
    z-index: 1;
  }

  .git-arrow-container,
  .linkedin-arrow-container,
  .app-arrow-container,
  .resume-arrow-container {
    display: none;
  }

  .created-by {
    display: inline;
    color: white;
    text-align: center;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .widget-title {
    font-family: Permanent Marker;
    color: white;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: calc(1.9vh + var(--mobileText));
    margin: 0;
  }
  .app-store,
  .github,
  .resume,
  .linkedin {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .linkedin-color {
    color: #027fbd;
  }
  .resume-color {
    color: green;
  }
  .apps-color {
    color: rgb(57, 93, 142);
  }
  .github-color {
    color: white;
  }
  .floating-text {
    font-size: 1.3vh;
    transform: translateY(7vh) translateX(-1.8vw);
  }
}

@media screen and (max-width: 333px) {
  .main-text {
    grid-row: 2/-1;
    opacity: 1;
  }

  .about-arrow-container {
    display: none;
  }
  .main-image:hover {
    opacity: 1;
  }
}
